################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Packages
/Proceduray/src/.vs/Proceduray/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/DirectX-Graphics-Samples/v16/Browse.VC.db
/.vs/DirectX-Graphics-Samples/v16/.suo
/.vs/DirectX-Graphics-Samples/v16
/.vs
/MiniEngine/Build_VS16/x64/Release/Intermediate
/MiniEngine/Build_VS16/x64/Release/Output
/MiniEngine/Build_VS16/x64
/Proceduray/Build_VS16/x64
/Proceduray/src/main_project/obj/x64
/Proceduray/src/main_project/Proceduray.vcxproj.user
/Proceduray/src/main_project/bin/x64
